absl-py==1.4.0
aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==23.1.0
certifi @ file:///croot/certifi_1671487769961/work/certifi
chardet==4.0.0
charset-normalizer==3.1.0
deepdiff==6.3.0
dm-env==1.6
dm-env-rpc==1.1.5
dm-tree==0.1.8
enum34==1.1.10
googleapis-common-protos==1.59.0
grpcio==1.54.0
idna==3.4
immutabledict==2.2.4
importlib-metadata==6.6.0
mock==5.0.2
mpyq==0.2.5
multidict==6.0.4
numpy==1.21.6
ordered-set==4.1.0
portpicker==1.5.2
protobuf==3.20.3
psutil==5.9.5
pygame==1.9.6
pyglet==2.0.6
PySC2==4.0.0
requests==2.30.0
s2clientprotocol==5.0.11.90136.0
s2protocol==5.0.11.90136.0
sc2==0.11.2
scipy==1.7.3
sk-video==1.1.10
typing_extensions==4.5.0
urllib3==2.0.2
websocket-client==1.5.1
yarl==1.9.2
zipp==3.15.0
